
mainmenu "White Rabbit Switch  configuration"

config DOTCONF_URL

	string "URL for a run-time replacement of dot-config"
	help
	  The White Rabbit Switch is configured at run-time,
	  according to a dot-config .config file. The file
	  is the same .config you are defining now.  If you
	  select an empty string, dot-config is not replaced
	  at run time.  Otherwise, tftp://, ftp:// or http://
	  URLs are allowed. Names are allowed if you configured
	  a DNS server.  The special strings IPADDR and MACADDR
	   are substituted before retrieving the file.
	  Example:  "tftp://morgana/wrs-config-IPADDR"

config BR2_CONFIGFILE
	string "Configuration file for Buildroot"
	default "wrs_release_br2_config"
	help
	  The configuration file selects which packages are to be
	  included in the WRS filesystem and which are not.  If
	  you pass a relative pathname, the build procedure will
	  look for it in wr-switch-sw/configs/buildroot, while
	  absolute pathnames are used unchanged.

	  If the string being passed doesn't refer to a file, the
	  scripts print a warning and use the default file. Incorrect
	  files lead to unpredicatable results.

config PPSI
	bool
	default y

menu "Local Network Configuration"

config NTP_SERVER
	string "IP address of local NTP server (empty for none)"
	help
	  At boot time, the White Rabbit time is primed by querying
	  an NTP server, if any is there.  Please write here the
	  IPV4 address (e.g.: "192.168.16.1"); an empty string
	  disables NTP-based priming.

config DNS_SERVER
	string "static IP address of local DNS server (empty for none)"
	help
	  Using names instead of IP addresses is sometimes handy. This
	  option allow to specify a static server name, that is stored
	  in /etc/resolv.conf, within the WRS image being built. If
	  the string is empty, /etc/resolv.conf is managed according
	  to buildroot defaults.

config DNS_DOMAIN
	string "Default domain for DNS resolution"
	help
	  If CONFIG_DNS_SERVER is being used, this option may be
	  useful as well.

config REMOTE_SYSLOG_SERVER
	string "Send WRS syslog messages to this remote host"
	help
	  This IP address or name, if not empty enables remote syslog
	  in the switch; all messages are sent to this specific host.

config REMOTE_SYSLOG_UDP
	bool "Use UDP for syslog messages"
	default y
	help
	  Select UDP to send system logs. If not set, TCP is used.

config WRS_LOG_HAL
	string "Logging directions for the WR hal"
	default "daemon.info"
	help
	  The string can be a pathname (e.g. /dev/kmsg) or a <facility>.<level>
	  spefification like "daemon.debug". An empty strings is used
	  to represent no logging (like /dev/null).  Please note that
	  unknown facility names will generate a runtime error on the switch.

config WRS_LOG_RTU
	string "Logging directions for the RTU daemon"
	default "daemon.info"
	help
	  The string can be a pathname (e.g. /dev/kmsg) or a <facility>.<level>
	  spefification like "daemon.debug". An empty strings is used
	  to represent no logging (like /dev/null).  Please note that
	  unknown facility names will generate a runtime error on the switch.

config WRS_LOG_PTP
	string "Logging directions for the PTP server (ptpd or ppsi)"
	default "daemon.info"
	help
	  The string can be a pathname (e.g. /dev/kmsg) or a <facility>.<level>
	  spefification like "daemon.debug". An empty strings is used
	  to represent no logging (like /dev/null).  Please note that
	  unknown facility names will generate a runtime error on the switch.

config KEEP_ROOTFS
	bool "Keep generated filesystem and related script"
	help
	  During development of build scripts, it may be useful
	  to keep the generated root filesystem as well as the
	  script used to create it. If selected, the build script
	  will report the actual file names at each build.
	  If unsusre, say N.

endmenu

menu "Port Timing Configuration"

config PORT00_PARAMS
	string "Parameters for the first port"
	default "name=wr0,tx=0,rx=160000,role=slave,fiber=0"
	help
	  This item, and the following ones, are used to assign the
	  constant delays (likely from calibration), port roles and
	  type of fiber for each of the ports. Please refer to the
	  user manual for more information.

config PORT01_PARAMS
	string "Parameters for the second port"
	default "name=wr1,tx=0,rx=160000,role=slave,fiber=0"

config PORT02_PARAMS
	string "Parameters for a further port"
	default "name=wr2,tx=0,rx=160000,role=master,fiber=0"

config PORT03_PARAMS
	string "Parameters for a further port"
	default "name=wr3,tx=0,rx=160000,role=master,fiber=0"

config PORT04_PARAMS
	string "Parameters for a further port"
	default "name=wr4,tx=0,rx=161200,role=master,fiber=0"

config PORT05_PARAMS
	string "Parameters for a further port"
	default "name=wr5,tx=0,rx=161200,role=master,fiber=0"

config PORT06_PARAMS
	string "Parameters for a further port"
	default "name=wr6,tx=0,rx=161200,role=master,fiber=0"

config PORT07_PARAMS
	string "Parameters for a further port"
	default "name=wr7,tx=0,rx=161200,role=master,fiber=0"

config PORT08_PARAMS
	string "Parameters for a further port"
	default "name=wr8,tx=0,rx=161200,role=master,fiber=0"

config PORT09_PARAMS
	string "Parameters for a further port"
	default "name=wr9,tx=0,rx=161200,role=master,fiber=0"

config PORT10_PARAMS
	string "Parameters for a further port"
	default "name=wr10,tx=0,rx=161200,role=master,fiber=0"

config PORT11_PARAMS
	string "Parameters for a further port"
	default "name=wr11,tx=0,rx=161200,role=master,fiber=0"

config PORT12_PARAMS
	string "Parameters for a further port"
	default "name=wr12,tx=0,rx=161200,role=master,fiber=0"

config PORT13_PARAMS
	string "Parameters for a further port"
	default "name=wr13,tx=0,rx=161200,role=master,fiber=0"

config PORT14_PARAMS
	string "Parameters for a further port"
	default "name=wr14,tx=0,rx=161200,role=master,fiber=0"

config PORT15_PARAMS
	string "Parameters for a further port"
	default "name=wr15,tx=0,rx=161200,role=master,fiber=0"

config PORT16_PARAMS
	string "Parameters for a further port"
	default "name=wr16,tx=0,rx=161200,role=master,fiber=0"

config PORT17_PARAMS
	string "Parameters for a further port"
	default "name=wr17,tx=0,rx=161200,role=master,fiber=0"

endmenu

menu "SFP and Media Timing Configuration"

config SFP00_PARAMS
	string "Parameters for one SFP device type"
	default "vn=Axcen Photonics,pn=AXGE-1254-0531,tx=10,rx=10,wl_txrx=1310+1490"
	help
	  This parameter, and the following ones, are used to
	  configure the timing parameters of a specific SFP
	  tranceiver. The tranceiver name is autodected for each port
	  in the White Rabbit Switch, and you need one configuration
	  entry for each tranceiver type that is installed in your
	  device.

config SFP01_PARAMS
	string "Parameters for one SFP device type"
	default "vn=Axcen Photonics,pn=AXGE-3454-0531,tx=10,rx=10,wl_txrx=1490+1310"

config SFP02_PARAMS
	string "Parameters for one SFP device type"

config SFP03_PARAMS
	string "Parameters for one SFP device type"

config SFP04_PARAMS
	string "Parameters for one SFP device type"

config SFP05_PARAMS
	string "Parameters for one SFP device type"

config SFP06_PARAMS
	string "Parameters for one SFP device type"

config SFP07_PARAMS
	string "Parameters for one SFP device type"

config SFP08_PARAMS
	string "Parameters for one SFP device type"

config SFP09_PARAMS
	string "Parameters for one SFP device type"


config FIBER00_PARAMS
	string "Alpha parameters for fiber type 0"
	default "alpha_1310_1490=2.6787e-04"
	help
	  This parameter, and the following ones, specify the physical
	  features of your fiber type.  You need to specify the alpha
	  value for each pair of wavelengths you are using. The index
	  ("00" onwards) is used to match the port
	  (CONFIG_PORTxx_PARAMS) with one of several installed fiber
	  types.

config FIBER01_PARAMS
	string "Alpha parameters for fiber type 1"
	default "alpha_1310_1490=2.6787e-04"

config FIBER02_PARAMS
	string "Alpha parameters for fiber type 2"
	default "alpha_1310_1490=2.6787e-04"

config FIBER03_PARAMS
	string "Alpha parameters for fiber type 3"
	default "alpha_1310_1490=2.6787e-04"

endmenu

choice
	prompt "Timing Mode"
	default TIME_BC

config TIME_GM
	bool "Grand-Master"
	help
	  This options selects the White Rabbit Switch as a grandmaster,
	  i.e. it uses its input channels to track an Atomic or GPS and
	  claim to be a PTP authoritative source on the network.

config TIME_FM
	bool "Free-Running Master"
	help
	  The White Rabbit Switch pretends to be a master on his PTP
	  network, but it doesn't sync to an external source. Its own
	  internal clocks and counters are used to drive timing.

config TIME_BC
	bool "Boundary Clock"
	help
	  The White Rabbit Switch is a normal PTP Boundary Clock: it is
	  slave on one of its ports and master on the other ones, according
	  to the standard Best Master Clock algorithm.

endchoice

choice
	prompt "PTP Port Assignment"
	default PTP_WR_DEFAULT if TIME_BC
	default PTP_WR_MASTER

config PTP_WR_DEFAULT
	bool "Raw Ethernet, WR on, Slave on wr0/wr1, Master on other ports"
	help
	  You can choose between one from a set of predefined
	  configuration files from your PTP server running in the
	  switch, or define your own custom configuration file.

	  The default setting for boundary clock forces ports wr0 and
	  wr1 to be PTP slaves and all other ports to be master, in
	  Ethernet mode and with full WR protocol extensions.  The default
	  for a Grand-Master or Free-Running master has all ports as
	  master ports.

	  Other predefined choices select more flexible configuration used
	  mainly for test purposes. Any special need can be addressed by
	  providing your own ppsi.conf file, that you should copy
	  to your switch.

config PTP_WR_MASTER
	bool "Raw Ethernet, WR on, Master on all ports"

config PTP_WR_AUTO
	bool "Raw Ethernet, WR on, Auto master/slave on all ports"

config PTP_WR_AUTO_UDP
	bool "UDP mode, WR on, Auto master/slave on all ports"

config PTP_NONWR_UDP_ALL
	bool "UDP mode, No WR, all ports (including eth0)"

config PTP_CUSTOM
	bool "Custom ppsi.conf"       

endchoice

menu "Management configuration"
config SNMP_TRAPSINK_ADDRESS
	string "Static IP address or name where to send SNMPv1 traps"
	help
	  If not empty, the address or name is ussed as "trapsink"
	  destination in the SNMP configuration file for the switch.
	  It empty, no v1 traps are generated. If both this and
	  the following TRAP2SINK_ADDRESS are set, snmpd sends two
	  traps (one per protocol version). Trapcommunity is "public"
	  (not configurable so far).

config SNMP_TRAP2SINK_ADDRESS
	string "Static IP address or name where to send SNMPv2c traps"
	help
	  If not empty, the address or name is ussed as "trap2sink"
	  destination in the SNMP configuration file for the switch.
	  It empty, no v2c traps are generated. Trapcommunity is "public"
	  (not configurable so far).

config SNMP_RO_COMMUNITY
	string "Read-only community name for SNMP V1/V2 management"
	default "public"
	help
	  If not empty, the 'community' name is a sort of password,
	  that travels as clear text (we don't support encrypted SNMPv3
	  yet). The default is good for testing, but should be changed
	  for production. Please note, however, that the switch processes
	  SNMP only on the CPU Ethernet port (the copper "management" port).

config SNMP_RW_COMMUNITY
	string "Read-write community name for SNMP V1/V2 management"
	default "private"
	help
	  If not empty, the 'community' name is a sort of password,
	  that travels as clear text (we don't support encrypted SNMPv3
	  yet). The default is good for testing, but should be changed
	  for production. Please note, however, that the switch processes
	  SNMP only on the CPU Ethernet port (the copper "management" port).

config SNMP_TEMP_THOLD_FPGA
	int "Threshold level for FPGA temperature"
	default "0"
	help
	  Threshold level for FPGA temperature, when exceeded warning is
	  notified by SNMP via WR-SWITCH-MIB::wrsTemperatureWarning
	  Require hal restart after change

config SNMP_TEMP_THOLD_PLL
	int "Threshold level for PLL temperature"
	default "0"
	help
	  Threshold level for PLL temperature, when exceeded warning is
	  notified by SNMP via WR-SWITCH-MIB::wrsTemperatureWarning
	  Require hal restart after change

config SNMP_TEMP_THOLD_PSL
	int "Threshold level for Power Supply Left (PSL) temperature"
	default "0"
	help
	  Threshold level for Power Supply Left (PSL) temperature, when
	  exceeded warning is notified by SNMP via
	  WR-SWITCH-MIB::wrsTemperatureWarning
	  Require hal restart after change

config SNMP_TEMP_THOLD_PSR
	int "Threshold level for Power Supply Right (PSR) temperature"
	default "0"
	help
	  Threshold level for Power Supply Right (PSR) temperature, when
	  exceeded warning is notified by SNMP via
	  WR-SWITCH-MIB::wrsTemperatureWarning
	  Require hal restart after change

config SNMP_SWCORESTATUS_HP_FRAME_RATE
	int "Maximum allowed rate of HP frames on a port"
	default "0"
	help
	  Error via SNMP if rate of HP frames on any port exceed given value.

config SNMP_SWCORESTATUS_RX_FRAME_RATE
	int "Maximum allowed rate of RX frames on a port"
	default "0"
	help
	  Error via SNMP if rate of RX frames on any port exceed given value.

config SNMP_SWCORESTATUS_RX_PRIO_FRAME_RATE
	int "Maximum allowed rate of any RX priority"
	default "0"
	help
	  Error if frame rate of any RX priority exceed given value.


endmenu

config PTP_CUSTOM_FILENAME
	string "Pathname for your custom ppsi.conf"
	depends on PTP_CUSTOM
	default "/wr/etc/ppsi-custom.conf"
