load-lm32
load-virtex
rtu_stat
wr_mon
spll_dbg_proxy
wr_phytool
com
mapper
wmapper
wrs_version
wr_date
fix_tai_offset
wr_management
lm32-vuart
tru_mon
wrs_pstats
wrs_vlans
wrs_dump_shmem
sdb-read
nbtee
wrs_auxclk
wrs_checkcfg
mkpasswd
wrs_status_led